/*----------------algemeen------------------*/
body {
  background-color: #F3F2F0;
}

h1 {
  font-size: 3em;
  color: #7D9875;
  font-family: "jubilat", serif;
}

h2 {
  font-family: "essonnes-display", serif;
}

h3 {
  font-size: 2em;
  font-family: "jubilat", serif;
  font-weight: 200;
  font-style: italic;
}

p {
  font-family: "bilo", serif;
}

/*----------------navigatie------------------*/

header nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

header nav ul {
  display: flex;
  background-color: #E1D3B8;
  padding: 0;
  margin: 0;
}

header nav ul li {
  list-style: none;
  margin: 2% 2%;
}

header nav ul li img {
  width: 50%;
}

/*----------------homepagina------------------*/

.home main section:first-of-type {
  display: flex;
  align-items: center;
}

.home main section:first-of-type img {
  margin: 3%;
}

.home main section:not(section:first-of-type) {
  text-align: center;
  margin: 0 10%;
}

.home main section:nth-of-type(1) {
  margin-bottom: 40%;
}

/*----------------zerowaste------------------*/

.zerowaste main div {
  display: flex;
  align-items: center;
}

.zerowaste main article h3,
.zerowaste main article p {
  display: flex;
}

.zerowaste img{
  margin: 0 5%;
}

.zerowaste p{
  margin-right: 10%;
  font-size: 2em;
}

.zerowaste h3{
  font-size: 2.5em;
}

.zerowaste section{
  margin: 0 5%;
}